@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Body */
body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
  margin: 0; /* Добавлено для удаления внешних отступов */
  padding: 0; /* Добавлено для удаления внешних отступов */
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1.gradient-all {
  font-size: 62px;
  line-height: 72px;
  background: linear-gradient(135deg, #287058 20%, #00ffff 70%);
  -webkit-background-clip: text; /* Vendor-prefixed property */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent;
  display: block;
  padding: 0.3em 0.6em;
  text-align: center;
}

h2 {
  color: #030303;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-bottom: 12px;
  text-align: center;
}

h3 {
  color: #89eff7;
  font-size: 16px;
  letter-spacing: 2px;
}

h5 {
  color: #31bdb1;
  line-height: 28px;
}

p {
  font-size: 16px;
  letter-spacing: 0.9px;
  line-height: 32px;
}

/* All Section styles */
#testimonial,
#blog,
#counter,
#contact {
  padding-top: 120px;
  padding-bottom: 120px;
}

#about h3 {
  padding-bottom: 12px;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

/* home section styles */
#home {
  background: url('../images/export.jpeg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#home .btn-danger {
  background: #76cbd1 !important;
  margin-right: 20px;
}

#home .btn-danger:hover {
  background: #000000 !important;
}

#home .btn {
  background: #000000;
  border-color: transparent;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 52px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: #76cbd1;
}

/* testimonial section styles */
#testimonial .item {
  text-align: center;
  display: block;
  width: 100%;
  padding-bottom: 62px;
}

#testimonial .item img {
  display: inline-block;
}

/* about section styles */
#about .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#about .col-md-6 {
  padding: 0;
}

#about .about-des {
  padding: 65px;
}

#about .about-des h3 {
  font-size: 26px;
  text-align: justify;
}

#about .about-des h4 {
  font-size: 28px;
  text-align: justify;
}

#about .about-des p {
  text-align: justify;
  font-size: 16px;
  line-height: 32px;
}

/* Counter section styles */
#counter {
  background: url('../images/counter-bg.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

#counter .counter-number {
  color: #ffa400;
  font-size: 32px;
}

#counter .counter-text {
  color: #ffffff;
  letter-spacing: 2px;
}

/* contact section styles */
#contact {
  background: url('../images/contact.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

#contact .form-control {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 22px;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  height: auto;
}

#contact input[type="submit"] {
  background: #000000;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 10px;
}

#contact input[type="submit"]:hover {
  background: #76cbd1;
}

.form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #ffffff;
}

.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

#contact .contact-detail {
  background: rgba(250, 250, 250, 0.75);
  padding: 34px 10px 34px 60px;
}

#contact .contact-detail h2 {
  padding-bottom: 28px;
  text-align: center;
}

#contact .contact-detail div {
  padding-bottom: 10px;
}

/* footer section styles */
footer {
  padding-top: 80px;
  padding-bottom: 50px;
}

footer p {
  padding-right: 40px;
  padding-bottom: 20px;
  font-size: 14px;
  text-align: justify;
}

footer a {
  color: #606060;
}

footer a:hover {
  color: #ffa400;
  text-decoration: none;
}

.link-list a {
  color: #606060;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}

.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  background: #3c3c3c;
  border-radius: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-right: 2px;
}

.social-icon li a:hover {
  background: #ffa400;
}

/* Blog Section Styles */
#blog .container {
  width: 100%;
}

#blog .post-masonry {
  width: calc(50% - 15px); /* 15px is half of the column gap */
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  #blog .post-masonry {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #blog .post-masonry {
    width: 100%;
    margin-right: 0;
  }
}

#blog .blog-wrapper {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#blog .blog-inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#blog .blog-wrapper h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

#blog .blog-wrapper p {
  color: #707070;
  margin-top: 0;
}

#blog .blog-wrapper .btn-buy {
  background-color: #8dffdf;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  margin-top: auto;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}

#blog .blog-wrapper .btn-buy:hover {
  background-color: #79b0a1;
}

@media (max-width: 768px) {
  #blog .owl-carousel .item img {
    height: auto; /* Reset height to auto for smaller screens */
  }
}

@media (max-width: 768px) {
  #blog .owl-carousel .owl-item {
    width: 100% !important;
    max-width: 100% !important;
  }
}